.main-header {
  .sidebar-toggle-admin {
    color: #fff;
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
  }
}

.field_with_errors {
  input {
    border: solid red 1px !important;
  }
}

.yield-box {
  height: 100%;
  min-height: 816px;
}

.logo-lg {
  font-size: 17px;
}

.alert-alert {
  color: #fff;
  background-color: #dd4b39;
  border-color: #d73925;
  border-radius: 3px;
}

.alert-notice  {
  color: #fff;
  background-color: #00c0ef;
  border-color: #00acd6;
  border-radius: 3px;
}

.color-red {
  color: #ff0000;
}

.mb-20 {
  margin-bottom: 20px;
}
