scss:
  .pac-container{z-index:2000 !important;}
  .rate-value {font-size: 28px;}
  .comment {
    padding: 15px;
    background-color: #f5f5f5;
    margin-top: 8px;
    .comment-time {
      color: #848484;
    }
  }

.section
  .container
    .info-detail-restaurant
      .image-restaurant.pull-left
        = image_tag @restaurant.url_avatar unless @restaurant.url_avatar.blank?
      .info-basic-restaurant.pull-left
        .kind-restaurant
          = convert_list_categories @restaurant.restaurant_categories
        h1.name-restaurant= @restaurant.name
        p
          i.glyphicon.glyphicon-home
          span.basic-content= @restaurant.address
        p
          i.glyphicon.glyphicon-phone-alt
          span.basic-content= @restaurant.phone
        p
          i.glyphicon.glyphicon-time
          span.basic-content= "#{@restaurant.open_time} ~ #{@restaurant.close_time}"
          span.basic-content |
          i.glyphicon.glyphicon-usd
          span.basic-content= "#{number_to_currency @restaurant.min_price} ~ #{number_to_currency @restaurant.max_price}"
        p
          .row
            .col-xs-4.no-padding
              .restaurant-rate
            .col-xs-6.no-padding
              span.rate-value= "#{@restaurant.rates.count} đánh gía"
        = social_share_button_tag(@restaurant.name, url: "lvh.me:3000/restaurants/#{@restaurant.id}")
        .info-delivery-restaurant
          .col-xs-4.column-info-deli
            p.uppercase.light-grey Phí vận chuyển
            p= "#{number_to_currency @restaurant.delivery_fee}/km"
          .col-xs-3.column-info-deli
            p.uppercase.light-grey Đặt tối thiếu
            p= number_to_currency @restaurant.min_order
          .col-xs-5.column-info-deli
            p.uppercase.light-grey Miễn phí vận chuyển
            p= "Hóa đơn trên #{number_to_currency @restaurant.free_delivery_fee}" if @restaurant.free_delivery_fee
  .order-online
    .container
      .row
        .col-xs-12
          ul.nav.nav-tabs.nav-menu-tabs
            li.active= link_to "Thực đơn", "#menu", "data-toggle": "tab"
            li= link_to "Giới thiệu", "#restaurant_infomation", "data-toggle": "tab"
            li= link_to "Khuyến mãi", "#promotion", "data-toggle": "tab"
            li= link_to "Bình luận", "#comment", "data-toggle": "tab"
          .tab-content
            #menu.tab-pane.active
              .row
                .col-xs-3.col-md-2
                  .category-food
                    h5 Danh mục món ăn
                    - @restaurant.foods.select(:category_id).distinct.each do |food_category|
                      .food-detail
                        i.fa.fa-check
                        span= link_to food_category.category.name, "#category-#{food_category.category_id}"
                      .clearfix
                .col-xs-6.col-md-7
                  .menu-food
                    - @restaurant.foods.select(:category_id).distinct.each do |food_category|
                      .category-link id="category-#{food_category.category_id}"
                      h5= food_category.category.name
                      - @restaurant.foods.filter_category(food_category.category_id).each do |food|
                        .order-menu-item
                          .pull-left.img-food.col-xs-2= image_tag food.url_avatar
                          .pull-left.name-food.col-xs-8
                            h4= food.name
                            span.desc= food.description
                          .pull-right= link_to "#", class: "btn btn-primary", id: "chose-food-#{food.id}" do
                            span.price= food.price
                            i.glyphicon.glyphicon-plus-sign
                          .clearfix
                          javascript:
                            $(document).ready(function(){
                              $("#chose-food-#{food.id}").click(function(e){
                                e.preventDefault();
                                if(!$("#cart-food-#{food.id}").length) {
                                  var count = 1;
                                  $(".order-item-list").append("<li class=\"clearfix cart-food-item\" data-food=\"#{food.id}\" id=\"cart-food-#{food.id}\" data-price=\"#{food.price}\"><div class=\"pull-left\"><div class=\"update-product\"><a class=\"increase-food\" href=\"#\" title=\"Tăng thêm một\"><i class=\"fa fa-plus-circle\"><\/i><\/a><span class=\"count\">1<\/span><a class=\"decrease-food\" href=\"#\" title=\"Gỉam xuống một\"><i class=\"fa fa-minus-circle\"><\/i><\/a><\/div><\/div><div class=\"cart-food-name pull-left\">#{food.name}<\/div><div class=\"cart-food-price pull-right text-spl-color\">#{food.price}<\/div><div class=\"cart-food-remove\"><a class=\"remove-food\" href=\"#\" title=\"Xóa món ăn\"><i class=\"fa fa-trash\"><\/i><\/a><\/div><\/li>"
                                    );
                                }
                                else {
                                  var count = parseInt($("#cart-food-#{food.id}").find(".count").text());
                                  count++;
                                  $("#cart-food-#{food.id}").find(".count").text(count);
                                  var price = parseInt($("#cart-food-#{food.id}").data("price"));
                                  $("#cart-food-#{food.id}").find(".cart-food-price").text(count*price);
                                }
                                var bill_details = JSON.parse($.cookie("foods"))
                                var food_id = "#{food.id}";
                                bill_details[food_id] = count;
                                $.cookie("foods", JSON.stringify(bill_details));
                                calcTotalPrice();
                              })
                            });
                .col-xs-3
                  .side-block-order
                    h5.text-center
                      i.fa.fa-shopping-basket
                      span= "Đơn đặt hàng"
                    .side-block-order-content
                      ul.order-item-list.list-unstyled

                        / list mon an duoc dat
                        - if cookies[:foods]
                          - JSON.parse(cookies[:foods]).each do |food_id, count|
                            - if @restaurant.foods.pluck(:id).include? food_id.to_i
                              - food = Food.find(food_id)
                              li.clearfix.cart-food-item data-food=food_id data-price=food.price id="cart-food-#{food_id}"
                                .pull-left
                                  .update-food
                                    a title="Tăng thêm một" href="#"
                                      i.fa.fa-plus-circle
                                    span.count= count
                                    a title="Gỉam xuống một" href="#"
                                      i.fa.fa-minus-circle
                                .cart-food-name.pull-left= food.name
                                .cart-food-price.pull-right.text-spl-color= food.price * count
                                .cart-food-remove
                                  a title="Xóa món ăn" href="#"
                                    i.fa.fa-trash
                      .order-item-total
                        p
                          span.title.col-xs-7#delivery_fee Phí vận chuyển:
                          span.text-right.col-xs-5= "#{number_to_currency @restaurant.delivery_fee}/km"
                        .clearfix
                        p.total-amount
                          span.title.col-xs-7= "Tạm tính:"
                          span.text-right.col-xs-5#total-price 0
                        .clearfix
                      .checkoutarea
                        = link_to "Đặt hàng", "#", class: "btn btn-primary btn-block custom-checkout", style: "color: #fff"
            #restaurant_infomation.tab-pane
              p= @restaurant.description
            #promotion.tab-pane
              | promotion
            #comment.tab-pane
              - unless user_signed_in?
                p Bạn phải #{link_to "đăng nhập", new_user_session_path} để đánh gía và bình luận
              - else
                p Đánh gía
                .rating
                  = render "rating_form", restaurant: @restaurant

                br
                h3 Bình luận
                .row
                  .col-xs-8
                    = form_for [@restaurant, current_user.comments.build], remote: true do |f|
                      = f.text_area :content, placeholder: "Nhập nội dung bình luận vào đây",
                        class: "form-control comment-content",
                        onkeyup:"textAreaAdjust(this)", style: "overflow:hidden"
                      = f.submit "Bình luận", class: "btn btn-danger btn-flat btn-comment", style: "margin-top: 5px;"
                  .clearfix
              .row
                .col-xs-8
                  hr
                .clearfix
                .col-xs-8.comments

                  - @restaurant.comments.order(created_at: :desc).each do |comment|
                    = render "comment", comment: comment

= render "order_modal"

javascript:
  function textAreaAdjust(o) {
    o.style.height = "1px";
    o.style.height = (25+o.scrollHeight)+"px";
  }
  $(document).ready(function(){
    $('#map').locationpicker({
      location: {latitude: #{@restaurant.lat}, longitude: #{@restaurant.long}},
      inputBinding: {
        latitudeInput: $('#destination-lat'),
        longitudeInput: $('#destination-long'),
        locationNameInput: $('#destination-address')
      },
      enableAutocomplete: true
    });
    calcTotalPrice();

    $(".restaurant-rate").rateYo({
      rating: #{@restaurant.calc_rate},
      readOnly: true
    });
  });

  $(document).on("change", "#destination-address", function(e){
    calculateDistances();
  });

  $(document).on("click", ".custom-checkout", function(e) {
    if(parseInt($("#total-price").text()) < #{@restaurant.min_price}) {
      e.preventDefault();
      alert("Bạn phải chọn ít nhất 1 món và đơn hàng phải có gía trị lớn hơn #{@restaurant.min_price} VNĐ");
    }
    else
      $('#orderModal').modal("show");
  });

  $('#orderModal').on('shown.bs.modal', function () {
    $('#map').locationpicker('autosize');
    google.maps.event.trigger(map, "resize");
  });

  if (!!$.cookie("foods")) {
  } else {
    $.cookie("foods", JSON.stringify({}));
  }

  $(".order-item-list").on("click", ".fa-plus-circle", function(e){
    e.preventDefault();
    var count = parseInt($(this).parent().next().text());
    count++;
    $(this).parent().next().text(count);
    $li_elm = $(this).parent().parent().parent().parent()
    var price = $li_elm.data("price");
    $li_elm.find(".cart-food-price").text(count*price);
    var bill_details = JSON.parse($.cookie("foods"));
    bill_details[$li_elm.data("food")] = count;
    $.cookie("foods", JSON.stringify(bill_details));
    calcTotalPrice();
  }).on("click", ".fa-minus-circle", function(e){
    e.preventDefault();
    var count = parseInt($(this).parent().prev().text());
    if(count > 1)
      count--;
    $(this).parent().prev().text(count);
    $li_elm = $(this).parent().parent().parent().parent()
    var price = $li_elm.data("price");
    $li_elm.find(".cart-food-price").text(count*price);
    var bill_details = JSON.parse($.cookie("foods"));
    bill_details[$li_elm.data("food")] = count;
    $.cookie("foods", JSON.stringify(bill_details));
    calcTotalPrice();
  }).on("click", ".fa-trash", function(e){
    e.preventDefault();
    var bill_details = JSON.parse($.cookie("foods"));
    delete bill_details[$(this).parent().parent().parent().data("food")];
    $.cookie("foods", JSON.stringify(bill_details));
    $(this).parent().parent().parent().remove();
    calcTotalPrice();
  })

  var calcTotalPrice = function(){
    var total = 0;
    $(".cart-food-item").each(function(index, element){
      var price = parseInt($(this).find(".cart-food-price").text());
      total += price;
    })
    $("#total-price").text(total);
  }

  var map;
  var geocoder;
  var bounds = new google.maps.LatLngBounds();
  var markersArray = [];
  var origin = new google.maps.LatLng(#{@restaurant.lat}, #{@restaurant.long});
  // var origin;
  var destination;
  //var destinationB = new google.maps.LatLng(50.087, 14.421);

  var destinationIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=D|FF0000|000000';
  var originIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=S|FFFF00|000000';

  function initialize() {
    var opts = {
      center: new google.maps.LatLng(21.037297, 105.781689),
      zoom: 20
    };
    map = new google.maps.Map(document.getElementById('map-canvas'), opts);
    geocoder = new google.maps.Geocoder();
    addMarker("#{@restaurant.address}", false);
  }

  function calculateDistances() {
    // origin = document.getElementById('source').value;
    destination = document.getElementById('destination-address').value;
    var service = new google.maps.DistanceMatrixService();
    service.getDistanceMatrix(
      {
        origins: [origin],
        destinations: [destination],
        travelMode: google.maps.TravelMode.DRIVING,
        unitSystem: google.maps.UnitSystem.METRIC,
        avoidHighways: false,
        avoidTolls: false
      }, calcDistance);
  }

  function calcDistance(response, status) {
    if (status != google.maps.DistanceMatrixStatus.OK) {
      alert('Error was: ' + status);
    } else {
      var origins = response.originAddresses;
      var destinations = response.destinationAddresses;
      deleteOverlays();
      for (var i = 0; i < origins.length; i++) {
        var results = response.rows[i].elements;
        addMarker("#{@restaurant.address}", false);
        for (var j = 0; j < results.length; j++) {
          addMarker(destinations[j], true);
          // display output
          var delivery_fee = results[j].distance.value * #{@restaurant.delivery_fee} / 1000
          $("#total_delivery_fee").val(delivery_fee);
          $("#output").html("Khoảng cách: " + results[j].distance.text + "<br/>Phí vận chuyển: " + delivery_fee + " VNĐ");
        }
      }
    }
  }

  function addMarker(location, isDestination) {
    var icon;
    if (isDestination) {
      icon = destinationIcon;
    } else {
      icon = originIcon;
    }
    geocoder.geocode({'address': location}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        bounds.extend(results[0].geometry.location);
        map.fitBounds(bounds);
        var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location,
          icon: icon
        });
        markersArray.push(marker);
      } else {
        alert('Geocode was not successful for the following reason: '
          + status);
      }
    });
  }

  function deleteOverlays() {
    for (var i = 0; i < markersArray.length; i++) {
      markersArray[i].setMap(null);
    }
    markersArray = [];
  }

  google.maps.event.addDomListener(window, 'load', initialize);
