// .logo_products {
//   padding: 1em 0 !important;
// }

#error_explanation {
  padding: 20px;
  ul > li {
    color: red;
  }
}

.field_with_errors {
  input {
    border: solid red 1px !important;
  }
}

.container-body {
  min-height: 350px;
}
