.section {
  padding-top: 50px;
  padding-bottom: 50px;

  .btn-primary {
    margin-left: 10px;
    margin-top: 30px;
    background: #d45742;
    border: none;
  }

  .list-category-sidebar {
    background-color: #f5f5f5;
    border: 1px solid #e6e6e6;
    padding: 20px 30px 40px;
    padding-top: 40px;
    weight: 50px;
  }

  .sidebar-module {
    padding: 0 0 40px;

    .sidebar-title {
      text-transform: uppercase;
      letter-spacing: 0.5px;
      margin-top: 0;
    }

    .hot-restaurants {
      font-size: 12px;
      margin-top: 15px;

      a {
        margin: 2px;
        padding: 5px 10px;
        color: #939393;
        border: 1px solid #ccc;
        border-radius: 3px;
        display: inline-block;
        line-height: 1;
        font-weight: 400;
      }

      a:hover {
        color: #c00;
        border: 1px solid #c00;
      }
    }
  }

  .company-detail-wrapper {
    margin-top: -10px;

    .filter-wrapper {
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      margin-bottom: 30px;
    }

    .restaurant-list-wrapper {
      .restaurant-item-list {
        position: relative;
        padding: 10px 0;
        line-height: 19px;
        background: #edf2f2;
        border-radius: 3px;
        margin-bottom: 20px;
        padding-bottom: 20px;

        .image {
          width: 140px;

          img {
            display: block;
            width: 100%;
          }
        }

        .restaurant-content {
          border-left: 1px solid #e3e3e3;
          border-radius: 3px;
          padding-left: 20px;
          padding-top: 10px;

          h4 a{
            color: #d45742;
          }

          .meta-div {
            margin: 10px 0 20px;
            font-size: 15px;
            font-weight: bold;
          }

          .texing {
            font-size: 13px;
          }

          .meta-list {
            list-style: none;
            margin: 10px;
            li {
              margin-bottom: 5px;
              span {
                font-weight: bold;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }

  .paper-wrapper {
    margin-top: 30px;

    .page-list {
      text-align: center;

      span {
        display: inline-block;
        margin: 0 3px;
        a {
          background: #edf2f2;
          height: 28px;
          line-height: 24px;
          padding: 0 10px;
          text-align: center;
          display: block;
          border: 2px solid #edf2f2;
          border-radius: 3px;
          color: #5D5D5D;
        }

        a:hover {
          color: #fff;
          background: #e7604a;
          border-color: #e7604a;
        }
      }
    }
  }

  .info-detail-restaurant {
    float: left;
    padding: 0 50px;
    .image-restaurant {
      img {
        width: 400px;
        height: 230px;
      }
    }

    .info-basic-restaurant {
      min-width: 550px;
      margin-left: 45px;
      font-size: 14px;

      p {
        margin-bottom: 10px;
      }

      i {
        color: #a1a1a1;
      }

      .kind-restaurant {
        text-transform: uppercase;
        color: #a1a1a1;
        font-size: 11px;
        height: 16px;
      }

      .name-restaurant {
        font-size: 22px;
        font-weight: bold;
        margin: 10px 0;
      }


      .basic-content {
        margin: 0 5px;
        position: relative;
        top: -1px;
      }

      .info-delivery-restaurant {
        border-top: #eee 1px solid;
        padding-top: 10px;

        .column-info-deli {
          border-right: 1px solid #eaeaea;
        }
      }
    }
  }

  .order-online {
    .nav-menu-tabs{
      margin: 30px 0;
      background-color: #f5f5f5;
      border: 0;

      li.active, li:hover {
        border-bottom: 4px solid #cf3d27;
        a {
          background-color: #f5f5f5;
          color: #cf3d27;
          border: none;
        }
      }

      li {
        margin: 0 20px;
        a {
          border: none;
          padding: 14px 0 12px;
          color: #585858;
          font-size: 18px;
        }
      }
    }

    .tab-content {
      .category-food {
        padding: 10px;
        h5 {
          margin-bottom: 15px;
          text-decoration: underline;
        }

        .food-detail {
          margin-bottom: 15px;

          i {
            color: #e7604a;
            margin-right: 5px;
          }

          a {
            color: #000;
          }

          a:hover {
            color: #e7604a;
            font-weight: bold;
          }
        }
      }

      .menu-food {
        padding: 10px;
        h5 {
          margin: 20px 0 10px;
          text-transform: uppercase;
        }

        .order-menu-item {
          margin: 10px 0;
          padding: 10px 0 15px;
          color: #646464;
          border-bottom: 1px solid #e4e4e4;

          .img-food {
            img {
              width: 80px;
              height:80px;
            }
          }

          .name-food {
            .desc {
              display: block;
              padding-top: 5px;
              font-size: 14px;
            }

          }

          .price {
            font-weight: bold;
            margin-right: 5px;
          }
        }
      }

      .side-block-order {
        height: 200px;
        background-color: #ddd;
      }
    }
  }
}
