.user-sidebar {
  background: #F5F5F5;
  border: 1px solid #E6E6E6;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: -10px;
  width: 100%;
  ul {
    padding: 20px;
    margin-top: -10px;
    list-style: none;
    li {
      border-bottom: 1px dotted #E1E1E1;
      a {
        display: block;
        font-weight: 400;
        color: #999;
        line-height: 1.2;
        margin: 12px 0;
        position: relative;
        padding-left: 20px;
        font-size: 13px;
        letter-spacing: 1px;

        i {
          position: absolute;
          top: 1px;
          left: 0;
        }
      }

      a:hover {
        color: #e7604a;
        transition: all 0.2s ease;
        -webkit-transition: all 0.3s ease;
      }
    }

    li.active {
      a {
        font-weight: 600;
        color: #e7604a;
      }
    }
  }
}

.user-content-wrapper {
  margin-bottom: 50px;
  width: 100%;
  padding-left: 10px;

  .user-title {
    border-bottom: 1px solid #CCCCCC;
    margin: 0 0 30px;
    font-weight: 600;
    padding-bottom: 24px;

    h2 {
      font-size: 34px;
      color: #e7604a;
    }
  }

  .form-group {
    label {
      font-size: 15px;
      color: #424242;
      font-weight: bold !important;
      display: block;
      margin: 5px 0;
      text-align: left;
    }

    .form-control {
      display: block;
      width: 100%;
      height: 34px;
      font-size: 14px;
      line-height: 1.42857;
      color: rgb(85, 85, 85);
      background-color: rgb(255, 255, 255);
      background-image: none;
      box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset;
      padding: 6px 12px;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(204, 204, 204);
      border-image: initial;
      border-radius: 4px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }

  .submit-btn {
    padding-left: 10px;
    input {
      margin-top: 10px;
    }
  }

  .notice-password {
    font-size: 12px;
    margin-top: 7px;
    font-style: italic;
  }

  .avatar-input {
    border: none !important;
    box-shadow: none !important;
  }
}

.user-item {
  text-align: center;
  border-bottom: 1px solid #E1E1E1;
  line-height: 1.2;
  padding-bottom: 30px;

  .image {
    width: 100px;
    margin: 0 auto 15px;
    border-radius: 50%;
    border: 5px solid #e7604a;
    padding: 2px;

    img {
      border-radius: 50%;
      max-width: 100%;
      height: auto;
      display: block;
    }

.signup-omniauth{
  text-align: center;

  .signup-facebook-btn {
    background-color: #3A5897;
  }

  @media (min-width:767px) {
    .signup-facebook-btn {
      margin-right: 15px;
    }
  }

  .signup-google_oauth2-btn {
    background-color: #DA4835;
  }

  .signup-btn {
    border-radius: 20px;
    margin-bottom: 20px;
    width: 150px;
    img {
      width: 18px;
      margin: 0 5px;
    }
  }

  a, a:hover, a:active {
    color: #fff;
    font-size: 13px;
  }
}
