- if user_signed_in?
  |
    var html = "#{j render 'restaurants/rating_form', restaurant: @restaurant}";
    $(".rating-star").html(html)
    $(".restaurant-rate").rateYo("rating", "#{@restaurant.calc_rate}")
    $(".rate-value").html("#{@restaurant.rates.count} đánh gía")
- else
  |
    $('#rating-star').rateYo("rating", "0");
    alert("Bạn phải đăng nhập để đánh gía nhà hàng");
